openapi: '3.0.0'
info:
  title: Aberrations Sheets API
  description: API for Aberrations Sheets application.
host: api.sheets.aberrations-rpg.com
basePath: /v1
paths:
  /players:
    post:
      summary: Create a player.
      tags:
        - Player
      parameters:
        - in: body
          name: player
          description: The player to create.
          schema:
            $ref: '#/components/schemas/Player'
  /players/:playerId:
    get:
      summary: Get a player.
      tags:
        - Player
      parameters:
        - in: path
          name: playerId
          required: true
          type: string
          description: Which player to fetch.
    patch:
      summary: Update a player.
      tags:
        - Player
      parameters:
        - in: path
          name: playerId
          required: true
          type: string
          description: Which player to update.
        - in: body
          name: properties
          description: The properties of the player to update.
          schema:
            $ref: '#/components/schemas/Player'
    delete:
      summary: Delete a player.
      tags:
        - Player
      parameters:
        - in: path
          name: playerId
          required: true
          type: string
          description: Which player to delete.
  /players/:playerId/:sheetType:
    get:
      summary: List all of a players character or campaign sheets.
      tags:
        - Player
        - Character Sheet
        - Campaign Sheet
      parameters:
        - in: path
          name: playerId
          required: true
          type: string
          description: Which player to get the character or campaign sheets of.
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
    post:
      summary: Create a character or campaign sheet for a player.
      tags:
        - Player
        - Character Sheet
        - Campaign Sheet
      consumes: application/json
      parameters:
        - in: path
          name: playerId
          required: true
          type: string
          description: Which player to create the character or campaign sheet for.
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: body
          name: sheet
          description: The character or campaign sheet to create
          schema:
            oneOf:
              - $ref: '#/components/schemas/CharSheet'
              - $ref: '#/components/schemas/CampSheet'
  /:sheetType/:sheetId:
    patch:
      summary: Update a character or campaign sheet.
      tags:
        - Character Sheet
        - Campaign Sheet
      consumes: application/json
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which character or campaign sheet to update.
        - in: body
          name: properties
          description: The properties of the character or campaign sheet to update.
          schema:
            oneOf:
              - $ref: '#/components/schemas/CharSheet'
              - $ref: '#/components/schemas/CampSheet'
    delete:
      summary: Delete a character or campaign sheet.
      tags:
        - Character Sheet
        - Campaign Sheet
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which character or campaign sheet to delete.
  /:sheetType/:sheetId/log:
    get:
      summary: List all logs of a character or campaign sheet.
      tags:
        - Log
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to get the logs of.
    post:
      summary: Create a log for a character or campaign sheet.
      tags:
        - Log
      consumes: application/json
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to create the log for.
        - in: body
          name: log
          description: The log to create
          schema:
            $ref: '#/components/schemas/Log'
  /:sheetType/:sheetId/log/:logId:
    patch:
      summary: Update a log.
      tags:
        - Log
      consumes: application/json
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to create the log for.
        - in: path
          name: logId
          required: true
          type: string
          description: Which log to update.
        - in: body
          name: properties
          description: The properties of the log to update
          schema:
            $ref: '#/components/schemas/Log'
    delete:
      summary: Delete a log.
      tags:
        - Log
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to create the log for.
        - in: path
          name: logId
          required: true
          type: string
          description: Which log to delete.

components:
  schemas:
    Player:
      type: object
      required:
        - email
      properties:
        email:
          type: string
    CharSheet:
      type: object
      required:
        - playerName
        - characterName
        - charBackground
        - charDescription
      properties:
        playerName:
          type: string
        characterName:
          type: string
        charBackground:
          type: string
        charDescription:
          type: string
        lifeKredits:
          type: number
    CampSheet:
      type: object
      required:
        - name
        - overview
        - details
      properties:
        name:
          type: string
        overview:
          type: string
        details:
          type: string
    Log:
      type: object
      required:
        - date
        - content
      properties:
        date:
          type: string
          format: date
        content:
          type: string
    sheetType:
      type: string
      enum:
        - characters
        - campaigns
