# TODO: CREATE REUSABLE GROUPS OF PARAMS FOR THIS FILE
openapi: '3.0.0'
info:
  title: Aberrations Sheets API
  description: API for Aberrations Sheets application.
host: api.sheets.aberrations-rpg.com
basePath: /v1
paths:
  /players/:sheetType:
    get:
      summary: List all of a players character or campaign sheets.
      tags:
        - Player
        - Character Sheet
        - Campaign Sheet
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
    post:
      summary: Create a character or campaign sheet for a player.
      tags:
        - Player
        - Character Sheet
        - Campaign Sheet
      consumes: application/json
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: body
          name: sheet
          description: The character or campaign sheet to create
          schema:
            oneOf:
              - $ref: '#/components/schemas/CharSheet'
              - $ref: '#/components/schemas/CampSheet'
  /:sheetType/:sheetId:
    patch:
      summary: Update a character or campaign sheet.
      tags:
        - Character Sheet
        - Campaign Sheet
      consumes: application/json
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which character or campaign sheet to update.
        - in: body
          name: properties
          description: The properties of the character or campaign sheet to update.
          schema:
            oneOf:
              - $ref: '#/components/schemas/CharSheet'
              - $ref: '#/components/schemas/CampSheet'
    delete:
      summary: Delete a character or campaign sheet.
      tags:
        - Character Sheet
        - Campaign Sheet
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which character or campaign sheet to delete.
  /:sheetType/:sheetId/log:
    get:
      summary: List all logs of a character or campaign sheet.
      tags:
        - Log
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to get the logs of.
    post:
      summary: Create a log for a character or campaign sheet.
      tags:
        - Log
      consumes: application/json
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to create the log for.
        - in: body
          name: log
          description: The log to create
          schema:
            $ref: '#/components/schemas/Log'
  /:sheetType/:sheetId/log/:logId:
    patch:
      summary: Update a log.
      tags:
        - Log
      consumes: application/json
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to create the log for.
        - in: path
          name: logId
          required: true
          type: string
          description: Which log to update.
        - in: body
          name: properties
          description: The properties of the log to update
          schema:
            $ref: '#/components/schemas/Log'
    delete:
      summary: Delete a log.
      tags:
        - Log
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to create the log for.
        - in: path
          name: logId
          required: true
          type: string
          description: Which log to delete.

components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
  schemas:
    CharSheet:
      type: object
      required:
        - playerName
        - characterName
        - charBackground
        - charDescription
      properties:
        playerName:
          type: string
        characterName:
          type: string
        charBackground:
          type: string
        charDescription:
          type: string
        lifeKredits:
          type: number
    CampSheet:
      type: object
      required:
        - name
        - overview
        - details
      properties:
        name:
          type: string
        overview:
          type: string
        details:
          type: string
    Log:
      type: object
      required:
        - date
        - content
      properties:
        date:
          type: string
          format: date
        content:
          type: string
    sheetType:
      type: string
      enum:
        - characters
        - campaigns

# Apply the security globally to all operations
security:
  - bearerToken: []
