openapi: '3.0.0'
info:
  title: Aberrations Sheets API
  description: API for Aberrations Sheets application.
host: api.sheets.aberrations-rpg.com
basePath: /v1
paths:
  /log/:sheetType/:sheetId:
    get:
      summary: List all logs of a character or campaign sheet.
      tags:
        - Log
      parameters:
        - in: path
          name: sheetType
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: path
          name: sheetId
          required: true
          type: string
          description: Which sheet to get the logs of.
    post:
      summary: Create a log for a character sheet.
      tags:
        - Log
      consumes: application/json
      parameters:
        - in: path
          name: sheet
          required: true
          schema:
            $ref: '#/components/schemas/sheetType'
        - in: body
          name: log
          description: The log to create
          schema:
            $ref: '#/components/schemas/Log'
  /log/:id:
    patch:
      summary: Update a log.
      tags:
        - Log
      consumes: application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
          description: Which log to update.
        - in: body
          name: properties
          description: The properties of the log to update
          schema:
            $ref: '#/components/schemas/Log'
    delete:
      summary: Delete a log.
      tags:
        - Log
      parameters:
        - in: path
          name: id
          required: true
          type: string
          description: Which log to delete.

components:
  schemas:
    Log:
      type: object
      required:
        - date
        - content
      properties:
        date:
          type: string
          format: date
        content:
          type: string
    sheetType:
      type: string
      enum:
        - character
        - campaign
